.hero {
    margin-top: 44px;
    padding-top: 45px;

    border-top: 1px solid #EAEAEA;;
}

.hero__container {
    background-color: #F4EFE9;
    padding: 16px 20px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 61px;

    position: relative;
}

.hero-content__title {
    font-size: 38px;
    font-weight: 700;
}

.hero-content__title_green {
    color: #8BB43C;
}

.hero-content__button {
    width: 177.459px;
    height: 47.09px;
    margin-top: 30px;
}

.hero-content__img {

}

.hero-content__arrow {
    position: absolute;
    left: 99%;
    cursor: pointer;
}